@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff5e1;
    font-family: 'Caudex', 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #20562b;
    flex-basis: 15%;
}

.sub-heading {
    font-style: italic;
}

.nav-bar {
    width: 100%;
    font-weight: bold;
    padding: 12px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-container {
    flex-basis: 80%;
}

.about-section-left {
    width: 50%;
    height: 100%;
    padding: 24px;
}

.about-section-right {
    width: 50%;
    height: 100%;
    padding: 24px;
}

footer {
    flex-basis: 5%;
}
