body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #fff5e1;
    flex-basis: 10%;
}

.main-container {
    flex-basis: 85%;
    background-image: url('../assets/areal-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.nav-bar {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer {
    flex-basis: 5%;
    background-color: lightblue;
}

.sub-heading {
    font-style: italic;
}
